.card_container {
  min-height: 125px;
  display: flex;
  flex-direction: column;
}

.cost {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.eidolon_sig {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #424B54;
}