.roster_container {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}
.selector {
  display: grid;
  grid-auto-rows: 75px;
  grid-template-columns: repeat(auto-fill, 75px);
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  place-content: center;
  gap: 0.2em;
  margin-bottom: 0.5em;
}
.search_bar {
    width: 100%;
    align-self: center;
    height: 3em;
    background-color: #221a2f;
    color: black;
    padding: 0.3em;
    color: white;
    border: 3px solid var(--buttons);
    margin-bottom: 0.5em;
    border-radius: 0.3em;
}
.search_bar::placeholder {
    color: #a795b3;
}

.not_selected {
    transition: transform 0.3s ease;
}

.once {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    filter: grayscale(100%);
}

.selected {
    filter: grayscale(100%);
}

.not_selected:hover {
    transform: scale(1.1); /* Adjust this value to your liking */
}

.roster_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #EFF7F6;
    color: black; */
    color: #EFF7F6;
    font-size: 1em;
    background-color: #48305f;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 0.3em;
}

.roster_button:hover {
    background-color: var(--buttons);
    transform: scale(1.1);
}
.disabled {
    cursor: not-allowed;
}