/* https://coolors.co/palette/10002b-240046-3c096c-5a189a-7b2cbf-9d4edd-c77dff-e0aaff */
* {
  --walnut-brown: #594f3bff;
  --umber: #776258ff;
  --chinese-violet: #896279ff;
  --african-violet: #9c7ca5ff;
  --periwinkle: #adb2d3ff;
  --onyx: #353b3cff;
  --violet-blue: #314CB6ff;
  --cardinal: #C42847ff;
  --background: #221a2f;
  --buttons: #64477c;
  box-sizing: border-box;
}
body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background-color: var(--background);
}

a {
  margin-right: 1rem;
}

main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
}

p {
  max-width: 14rem;
  margin: 2rem auto;
  line-height: 1.35;
}
input {
  border-radius: 0.3em;
  /* border: none; */
  padding: 0.3em;
}

.secret {
  color: white;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 90vw;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}
