.loading_screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  background: #424B54;
  border-radius: 10px;
  /* box-shadow: 0 0 10px var(--periwinkle); */
  overflow: hidden;
}

.loading_screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
  }

.side_selector {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.blue_team {
    background-color: #5C7AFF;
}

.red_team {
    background-color: #C83E4D;
}

.blue_team:hover {
    transform: scale(1.1);
}

.red_team:hover {
    transform: scale(1.1);
}