.loading_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  background: #a261d8;
  border-radius: 10px;
  /* box-shadow: 0 0 10px var(--periwinkle); */
  overflow: hidden;
}

.loading_screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

.side_selector {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.blue_team {
    background-color: #6d86f9;
}

.red_team {
    background-color: #ca515f;
}

.blue_team:hover {
    transform: scale(1.1);
}

.red_team:hover {
    transform: scale(1.1);
}

.link_to_copy {
  cursor: pointer;
  color: #6d86f9;
}

.copied_modal {
  padding: 1em;
  text-align: center;
  background-color: #5A189A;
  color: #fff;
  animation: fade 0.2s linear;
  bottom: 30%;
  position: absolute;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.loading_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 100vh;
}